# Padroniza finais de linha
* text=auto

# Sempre LF
*.js text eol=lf
*.md text eol=lf
*.ts text eol=lf
*.env text eol=lf
*.sql text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.yaml text eol=lf
package-lock.json -text

# Windows
*.bat text eol=crlf

# Binários
*.exe binary
*.ico binary
*.jpg binary
*.pdf binary
*.png binary
*.docx binary
*.pbix binary
*.xlsm binary
*.xlsx binary

